#navbar {

    .navbar {
        background-color: $blacker!important;
        padding: 1rem 1rem;

        .navbar-brand {
            transition: .9s ease-in-out;

            &:hover {
                transition: .9s ease-in-out;
                transform: rotate(360deg);
            }
        }

        .navbar-toggler {
            border: 2px solid $navish;

            &:focus {
                text-decoration: none;
                z-index: 3;
                border-color: #981ee4;
                outline: 0;
                box-shadow: 0 0 0 .25rem #981ee440;
            }

            span {
                color: white;
            }
        }

        .nav-item {
            margin: 0 12px;
            border-radius: 5px;
            transition: .3s all;

            &:hover {
                transition: .3s all;
                background-color: $navish;
            }

            .nav-link {
                padding: 5px 12px;
                border-radius: 5px;
                color: $white!important;

                &.active {
                    background-color: $navish;
                }
            }  
        }

        .dropdown-menu {
            background-color: $blacker;
            padding: 0;

            a {
                transition: .3s all;
                color: white!important;
                background: $blacker;
                border-radius: 5px;

                &:hover {
                    transition: .3s all;
                    background-color: $navish;
                }
            }
        }
    }
}

@media screen and (max-width: 991px) {
    #navbar {
        .navbar {
            .navbar-collapse {
                padding-top: 1rem;
            }
        }
    }
}