/////////////////////// FONTS ///////////////////////

@font-face {
    font-family: 'Niuto';
    src: url(../fonts/Nunito.ttf);
}

/////////////////////// PALLETE ///////////////////////

$blacker: #212151;
$black: #1A1A40;
$navish: #583e95;
$navy: #270082;
$purpleish: #981ee4;
$purple: #7A0BC0;
$pink: #FA58B6;
$white: #FFF;
